{{ form_start(newUserForm) }}
    <div class="form-user row">
        <div class="row">
            <div class="label-edit col-sm-12">
                {{ form_row(newUserForm.file) }}
            </div>
        </div>
        <div class="label-new col-sm-12 col-md-12 col-lg-4">
            {{ form_row(newUserForm.email) }}
        </div>
        <div class="label-new col-sm-12 col-md-6 col-lg-4">
            {{ form_row(newUserForm.password) }}
        </div>
        <div class="label-new col-sm-12 col-md-6 col-lg-4">
            {{ form_row(newUserForm.tel) }}
        </div>
    </div>
    <div class="row">
        <div class="label-new col-sm-12">
            {{ form_row(newUserForm.roles2) }}
        </div>
    </div>
    <div class="row">
        <div class="label-new col-sm-12 col-md-6">
            {{ form_row(newUserForm.prenom) }}
        </div>
        <div class="label-new col-sm-12 col-md-6">
            {{ form_row(newUserForm.nom) }}
        </div>
    </div>
    <div class="row">
        <div class="label-new col-sm-12">
            {{ form_row(newUserForm.adresse) }}
        </div>
    </div>
    <div class="row">
        <div class="label-new col-sm-12 col-md-6">
            {{ form_row(newUserForm.code_postal) }}
        </div>
        <div class="label-new col-sm-12 col-md-6">
            {{ form_row(newUserForm.ville) }}
        </div>
    </div>
    <div class="row">
        <div class="label-new col-sm-12 col-md-6">
            {{ form_row(newUserForm.niveau) }}
        </div>
        <div class="label-new col-sm-12 col-md-6">
            {{ form_row(newUserForm.diplome) }}
        </div>
    </div>
    <div class="row">
        <div class="label-new col-sm-12">
            {{ form_row(newUserForm.description) }}
        </div>
    </div>
    <div class="row">
        <div class="label-new col-sm-12">
            {{ form_row(newUserForm.sports) }}
        </div>
    </div>
    <div class="form-group">
        <button class="btn-nouvel-utilisateur btn btn-primary" type="submit">
            Envoyer
        </button>
    </div>
{{ form_end(newUserForm) }}