{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Editer un utilisateur{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block page_title %}<h1 class="title-user">Editer un utilisateur</h1>{% endblock %}

{% block titre_menu %}<li><a href="{{ path('admin_user_index') }}">Utilisateur</a></li>{% endblock %}

{% block nom_de_page %}Editer un utilisateur{% endblock %}

{% block content %}
    <h2 class="name-edit">{{ user.prenom }} {{ user.nom }}</h2>

    {{ include('admin/user/_form_edit.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('asset_back/js/autocompletion_adresse.js') }}"></script>
{% endblock %}
