{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/admin/fonts/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/admin/css/minified/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    {#    <link href="{{ asset('bundles/admin/css/minified/core.min.css') }}" rel="stylesheet" type="text/css">#}
    <link href="{{ asset('bundles/admin/css/minified/components.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/admin/css/minified/colors.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('asset_back/css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('asset_back/css/css-algolia.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}<h1 class="title-user">Créer un utilisateur</h1>{% endblock %}

{% block titre_menu %}<li><a href="{{ path('admin_user_index') }}">Utilisateur</a></li>{% endblock %}

{% block nom_de_page %}Créer un utilisateur{% endblock %}

{% block content %}
    {{ include('admin/user/_form_new.html.twig') }}

    <a href="{{ path('admin_user_index') }}">Retour a la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
    <script src="{{ asset('asset_back/js/autocompletion_adresse.js') }}"></script>
{% endblock %}
