{% extends 'front/base.html.twig' %}

{% block title %}Resultat recherche coach{% endblock %}

{% block body %}
    <div style="height:120px;"></div>

    <div id="containerecherche">
        <h1 id="titrerecherche">Recherches ton coach ici</h1>
        {{ include('front/coach/_form.html.twig') }}


        {#    <div id="bloc1">#}
        {#        <h2>Trouvez le coach parfait ! :)</h2>#}

        {#        {% for user in users %}#}
        {#            <div>#}
        {#                {{ user.email }}#}
        {#                {{ user.nom }}#}
        {#                {{ user.prenom }}#}
        {#                <img src="{{ asset('/uploads/avatars/' ~ user.avatar) | imagine_filter('my_thumb')  }}" alt="Avatar de {{ user.nom }}" />#}
        {#            </div>#}
        {#        {% else %}#}
        {#            Aucun coach disponible.#}
        {#        {% endfor %}#}
        <div id="resultrecherche">
            {{ include('front/coach/coach.html.twig') }}
        </div>
        {#    </div>#}
    </div>

{% endblock %}
