<!-- Main sidebar -->
<div class="sidebar sidebar-main">
  <div class="sidebar-content">
    <!-- User menu -->
    <div class="sidebar-user">
      <div class="category-content">
        <div class="media">
          <a href="#" class="media-left"><img src="{{ asset('bundles/admin/images/placeholder.jpg') }}" class="img-circle img-sm" alt=""></a>
          <div class="media-body">
            <span class="media-heading text-semibold">{{ app.user.prenom }}</span>
            <div class="text-size-mini text-muted">
              <i class="icon-mention text-size-small"></i> &nbsp;{{ app.user.email }}
            </div>
          </div>

{#          <div class="media-right media-middle">#}
{#            <ul class="icons-list">#}
{#              <li>#}
{#                <a href="#"><i class="icon-cog3"></i></a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
        </div>
      </div>
    </div>
    <!-- /user menu -->


    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
      <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

          <!-- Main -->
          <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Main pages"></i></li>
          <li><a href="{{ path('admin_homepage') }}"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            
          <li><a><i class="icon-users4"></i>Utilisateurs</a>
            <ul class="nav child_menu">
              <li><a href="{{ path('admin_user_index') }}"><i class="icon-menu3"></i>Liste des utilisateurs</a></li>
              <li><a href="{{ path('admin_user_new') }}"><i class="icon-user-plus"></i>Ajouter un utilisateur</a></li>
            </ul>
          </li>

          <li><a><i class="icon-calendar "></i>Calendriers</a>
            <ul class="nav child_menu">
              <li><a href="{{ path('admin_calendrier_index') }}"><i class="icon-menu3"></i>Liste des calendriers</a></li>
              <li><a href="{{ path('admin_calendrier_new') }}"><i class="icon-plus-circle2"></i>Ajouter une date</a></li>
            </ul>
          </li>

          <li><a><i class="icon-dribbble "></i>Sports</a>
            <ul class="nav child_menu">
              <li><a href="{{ path('admin_sport_index') }}"><i class="icon-menu3"></i>Liste des sports</a></li>
              <li><a href="{{ path('admin_sport_new') }}"><i class="icon-plus-circle2"></i>Ajouter un sport</a></li>
            </ul>
          </li>

          {# <li><a><i class="icon-users"></i> Clients </span></a>
            <ul class="nav child_menu">
              <li><a href="{{ path('admin_clients_index') }}"><i class="icon-menu3"></i>List Clients</a></li>
              <li><a href="{{ path('admin_clients_new') }}"><i class="icon-user-plus"></i>Add new Client</a></li>
            </ul>
          </li>
          <li><a><i class="icon-grid6"></i> Medias </span></a>
            <ul class="nav child_menu">
              <li><a href="{{ path('admin_medias_index') }}"><i class="icon-menu3"></i>Tous les Medias</a></li>
              <li><a href="{{ path('admin_medias_new') }}"><i class="icon-user-plus"></i>Add Media</a></li>
            </ul>
          </li> #}
          <!-- /main -->
        </ul>
      </div>
    </div>
    <!-- /main navigation -->

  </div>
</div>
<!-- /main sidebar -->