{% extends 'front/base.html.twig' %}

{% block title %}Editer mon compte{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('asset_front/css/style2.css')}}">
    <style> #test{ padding-top:110px; }</style>
{{ parent() }}{% endblock %}


{% block body %}


    {% block content %}<div id="test">
        {{ include('front/coach/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div id="retourprofil"><a href="{{ path('compte_show') }}">Retour a mon profil</a></div>
    {% endblock %}



{% endblock %}

{% block javascripts %}


{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
<script src="{{ asset('asset_back/js/autocompletion_adresse.js') }}"></script>
{% endblock %}


