{% extends 'front/base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset_front/css/style.css')}}">{% endblock %}

{% block body %}
    
   
<div id="wrap">
     <div id="top-coach">
        
        <div id="id-coach">
            <div>
                <img id='pict-coach'  src="{{ asset('/uploads/avatars/' ~ app.user.avatar) | imagine_filter('my_thumb')  }}" alt="Avatar de {{ app.user.nom }}">
            </div>

            <p><span id="coachPrenomProfil">{{ app.user.prenom }} {{ app.user.nom }}</span></p>
               <p> <img id='localization'  src="{{ asset('asset_front/img/localization.png' ) }}" alt="localization"> {{ app.user.ville }}</p> 
        </div>


        <div id='formation'>
         <p><img id='localization'  src="{{ asset('asset_front/img/logo-formation.png' ) }}" alt="Formation"></p> 
            <p>Formation</p>
            <p>{{ app.user.diplome }}</p>
        </div>

        <div id='experience'>
           <p><img id='niveau'  src="{{ asset('asset_front/img/niveau.png' ) }}" alt="Niveau"></p>
            <p>Niveau</p>
          <p>{{ app.user.niveau }}</p>
        </div>
    </div>


    <div id='mot-coach'>
    {{ app.user.description }}

    </div>

</div>


<a href="{{ path('compte_edit')}}">Editer mon profil</a>

{% endblock %}

{% block javascripts %}{% endblock %}
