{% extends 'front/base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('asset_front/css/style2.css')}}"> 
{# <link href="{{ asset('vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all"> #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
{% endblock %}
{% block body %}
    
   
<div id="wrap">
     <div id="top-coach">
        
        <div id="id-coach">
            <div>
                <img id='pict-coach'  src="{{ asset('/uploads/avatars/' ~ user.avatar) | imagine_filter('my_thumb')  }}" alt="Avatar de {{ user.nom }}">
            </div>

            <p><span id="coachPrenomProfil">{{ user.prenom }} {{ user.nom }}</span></p>
               <p> <img id='localization'  src="{{ asset('asset_front/img/localization.png' ) }}" alt="localization"> {{user.ville }}</p> 
        </div>


        <div id='formation'>
         <p><img id='localization'  src="{{ asset('asset_front/img/logo-formation.png' ) }}" alt="Formation"></p> 
            <p>Formation</p>
            <p>{{ user.diplome }}</p>
        </div>

        <div id='experience'>
           <p><img id='niveau'  src="{{ asset('asset_front/img/niveau.png' ) }}" alt="Niveau"></p>
            <p>Niveau</p>
          <p>{{user.niveau }}</p>
        </div>
    </div>


    <div id='mot-coach'>
    {{ user.description }}

    </div>


<div id="mymap" data-lat="{{ user.lat }}" data-lng="{{user.lng }}"></div>
</div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
    <script src="{{ asset('asset_back/js/autocompletion_adresse.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="{{ asset('asset_back/js/map.js') }}"></script>

{% endblock %}
