{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Nouveau calendrier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_title %}<h1 class="title-calendrier">Nouveau calendrier</h1>{% endblock %}

{% block titre_menu %}<li><a href="{{ path('admin_calendrier_index') }}">Calendriers</a></li>{% endblock %}

{% block nom_de_page %}Nouveau calendrier{% endblock %}

{% block content %}
    {{ include('admin/calendrier/_form.html.twig') }}

    <a href="{{ path('admin_calendrier_index') }}">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# lancer le datepicker date de commencement avec les icônes qui vont avec  #}
    <script type="text/javascript">
        function toggleForm(){
            // on réccupère l'élément form.
            var formulaire = document.getElementById('calendrier_sportif');

            // Condition pour afficher/cacher le formulaire en fonction de son état
            if(formulaire.style.display == 'block'){
                formulaire.style.display = 'none';
            }else{
                formulaire.style.display = 'block';
            }
        }

        $(function () {
            $('#datetimepicker1').datetimepicker({
                icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
                },
               //format:  'yyyy-mm-dd HH:mm'
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function()
        {
        // you may need to change this code if you are not using Bootstrap Datepicker
            $(function ()
            {
                $('#datetimepicker1').datetimepicker();
            });
        });
    </script>

  {# lancer le datepicker date de fin avec les icônes qui vont avec  #}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker({
                language: 'fr',
                icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
                },
               //format:  'yyyy-mm-dd HH:mm'
            });
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $(function () {
                $('#datetimepicker2').datetimepicker();

            });
        });
    </script>

{% endblock %}