{% extends 'front/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('asset_front/css/style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="content-accueil">
        <div class="intro-form" >
            <div id="recherche">
                <p class="po">RÉSERVE TON COACH SPORTIF</p>
                <p id="sma">Plus de x sports et x coachs dans toute la France</p>
                {{ include('front/default/_form.html.twig') }}
            </div>
        </div>
   
        <div id="big-bloc" class="wrap" >
    
        <h2>Trouvez le coach parfait ! :)</h2>
        <div id="bloc-coach">
            {% for user in users %}
        <div class="identite">
            {{ user.nom }}
            {{ user.prenom }}
            <img src="{{ asset('/uploads/avatars/' ~ user.avatar) | imagine_filter('my_thumb')  }}" alt="Avatar de {{ user.nom }}" />
        </div>
            {% else %}
                Aucune donnée disponible.
            {% endfor %}
        </div>

    </div>
{% endblock %}
