{% extends 'front/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main>
        <div class="fond fond-inscription">
            <div class="wrap">
                <div class="formulaire formulaire-inscription">
                    <h1 class="titre-formulaire h3 mb-3 font-weight-bold">Inscription</h1>

                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.roles2) }}
                        <div class="form-group">
                            <button class="bouton-connexion btn">Envoyer</button>
                        </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
