<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} Coaching sportif</title>
        <meta name="description" content="Find your Coach est le site idéal pour mettre en relation les sportifs et les coachs dans tous les sports,inscription gratuite et immédiate">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('vendor/SlickNav/dist/slicknav.css') }}"/>
        <link href="{{ asset('asset_front/css/style.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
                    <!--header-->
        <header> 
            <div class="wrap">     
                <a href="{{ path('app_homepage') }}"id="logo"><img src="{{ asset('asset_front/img/logo_long_orange_blanc.png') }}"></a>         
                {# <div id="hamburger"> #}
                        <!--menu classique-->
                <div id="hamburger-content">
                    <nav>
                        <ul class="ul-nav">
                            <li class="accueil"><a href="{{ path('recherche') }}">Recherche</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="back"><a href="{{ path('admin_homepage') }}">Back-office</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_COACH') %}
                                    <li class="resa"><a href="#">Gérer les réservation</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                    <li class="mon_compte"><a href="{{ path('compte_show') }}">Mon compte</a></li>
                                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                                {% endif %}
                            {% else %}
                                <li class="inscription"><a href="{{ path('app_register') }}">Inscription</a></li>
                                <li class="connexion"><a href="{{ path('app_login') }}">Connexion</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <button id="hamburger-button">&#9776;</button>
                    <!--menu burger-->
                <div id="hamburger-sidebar">
                    <div id="hamburger-sidebar-header">
                        <img src="{{ asset('asset_front/img/logo_long.png') }}" />
                    </div>
                    <div id="hamburger-sidebar-body"></div>
                </div>
                <div id="hamburger-overlay"></div>
            </div>
        </header>

        {% block body %} {% endblock %}

                        <!--footer-->

        <footer class="page-footer">
            <div class="wrap">
                <div class="colone">
                    <a href="https://www.instagram.com/findyourcoachs/?hl=fr" target="_blank"><i class="logo-reseau fab fa-instagram fa-3x"></i></a>
                    <a href="https://www.facebook.com/Find-Your-Coach-470953867013088/" target="_blank"><i class="logo-reseau fab fa-facebook-square fa-3x"></i></a> 
                </div>
                <div class="colone2">
                    <a href="{{ path('app_homepage') }}"><div class="logo-bas"><img src="{{ asset('asset_front/img/logo_court_orange_blanc.png') }}"></div></a>
                </div>    
           </div>
           <div class="clear"> </div>
            <div class="bottom-bar">
                <p class="copyright">©2019 FindYourCoach.fr</p>
                <span class="lien-mentions-legales-footer"><a href="{{ path('mentions_legales') }}">Mentions légales&nbsp;</a>|</span>
                <span class="lien-nous-contacter-footer"><a href="{{ path('contact') }}">Nous contacter</a></span>
            </div>
            <div class="bas">
            </div>
        </footer>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />           
            <script src="{{ asset('vendor/SlickNav/dist/jquery.slicknav.min.js') }}"></script> 
            <script src="{{ asset('asset_front/js/script.js') }}"></script> 
           
            {% block javascripts %}{% endblock %}
    </body>
</html>
