<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('vendor/SlickNav/dist/slicknav.css') }}"/>
        <link href="{{ asset('asset_front/css/style.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
                    <!--header-->
        <header> 
            <div class="wrap">     
                <a href="{{ path('app_homepage') }}"id="logo"><img src="{{ asset('asset_front/img/logo_long.png') }}"></a>         
                <div id="hamburger">
                        <!--menu classique-->
                    <div id="hamburger-content">
                        <nav>
                            <ul class="ul-nav">
                                <li class="accueil"><a href="{{ path('app_homepage') }}">Page d'accueil</a></li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li class="back"><a href="{{ path('app_admin') }}">Back-office</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li class="resa"><a href="#">Gérer les réservation</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_USER') %}
                                        <li class="mon_compte"><a href="#">Mon compte</a></li>
                                        <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
                                    {% endif %}
                                {% else %}
                                    <li class="inscription"><a href="{{ path('app_register') }}">Inscription</a></li>
                                    <li class="connexion"><a href="{{ path('app_login') }}">Connexion</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>   
                    <button id="hamburger-button">&#9776;</button>
                        <!--menu burger-->
                    <div id="hamburger-sidebar">
                        <div id="hamburger-sidebar-header" >
                            <img src="{{ asset('asset_front/img/logo_long.png') }}">
                        </div>
                        <div id="hamburger-sidebar-body"></div>
                    </div>
                    <div id="hamburger-overlay"></div>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}

                        <!--footer-->

        <footer class="page-footer">
           <div class="wrap">
                <div id="colones">
                    <div class="colone">
                        <div class="reseaux">
                            <i class="fab fa-instagram fa-3x"></i>
                            <i class="fab fa-facebook-square fa-3x"></i>
                        </div>
                    </div>
                    <div class="colone">
                         <div class="propos-colone">
                            <h3>A propos de nous</h3>
                            <p> de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique</p> 
                         </div>    
                    </div>
                    <div class="colone">
                        <div class="logo-bas"><img src="{{ asset('asset_front/img/logo_court.png') }}"></div>
                    </div>
                    <div class="clear"> </div>
                </div>
           </div>
            <div class="bottom-bar">
                <p class="copyright">©2019 FindYourCoach.fr &nbsp;Réalisé par<span> La Frite Team</span></p>
                <ul class="nav-footer">
                    <li><a href="{{ path('mentions_legales') }}">Mentions légales&nbsp;</a>|</li>
                    <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                </ul>
            </div>
        </footer>
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="{{ asset('vendor/SlickNav/dist/jquery.slicknav.min.js') }}"></script>
        <script src="{{ asset('asset_front/js/script.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
