{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Sport{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_title %}<h1 class="title-user">Sport</h1>{% endblock %}

{% block titre_menu %}<li><a href="{{ path('admin_sport_index') }}">Sports</a></li>{% endblock %}

{% block nom_de_page %}{{ sport.sport }}{% endblock %}

{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sport.id }}</td>
            </tr>
            <tr>
                <th>Sport</th>
                <td>{{ sport.sport }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ sport.createdAt ? sport.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified_at</th>
                <td>{{ sport.modifiedAt ? sport.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="bouton-perso" href="{{ path('admin_sport_index') }}">Retour a la liste</a>

    <a class="bouton-perso" href="{{ path('admin_sport_edit', {'id': sport.id}) }}">Editer</a>

    {{ include('admin/sport/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
