{% extends 'back.html.twig' %}

{% block title %}Calendrier index{% endblock %}

{% block body %}
    <h1>Calendrier index</h1>
    <div class="col-lg-12">
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Start_date</th>
                    <th>End_date</th>
                    <th>Id_coach</th>
                    <th>Id_sportif</th>
                    <th>Titre</th>
                    <th>Created_at</th>
                    <th>Modified_at</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for calendrier in calendriers %}

                    <tr>
                        <td><a href="{{ path('calendrier_show', {'id': calendrier.id}) }}">{{ calendrier.id }}</a></td>
                        <td>{{ calendrier.startDate ? calendrier.startDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ calendrier.endDate ? calendrier.endDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ calendrier.idCoach }}</td>
                        <td>{{ calendrier.idSportif }}</td>
                        <td>{{ calendrier.titre }}</td>
                        <td>{{ calendrier.createdAt ? calendrier.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ calendrier.modifiedAt ? calendrier.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('calendrier_edit', {'id': calendrier.id}) }}">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="18">Aucune donnée disponible.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <a href="{{ path('calendrier_new') }}">Créer un RDV</a>
{% endblock %}
